
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel {
  display: flex;
  width: 400px;
  height: 32px;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px 0px 10px 0px;
}

.form {
  height: 4ch;
  width: 4ch;
 
}

.flagCounter {
  height: 4ch;
  width: 4ch;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.timer {
  height: 4ch;
  width: 4ch;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.time-countdown {
  padding: 3px 5px;
}


.flag-top {
  height: 3ch;
  width: 3ch;
  padding: 0px 2px;
}

.flag-number {
  padding: 6px 4px;
}


.clock {
  height: 3ch;
  width: 3ch;
}


#board {
  display: flex;
  flex-wrap: wrap;
  height: 480px;
  width: 480px;
  
}


.grid-item {
  border: 2px dashed pink;
  height: 40px;
  width: 40px;

}

.clicked-grid {
  background-color: linen;
}

.flagged-grid {
  display: grid;
  background-color: lightyellow !important;
  align-items: center;
  justify-items: center;
}

.empty-grid {
  background-color: lightgray !important;
}

.nonempty-grid {
  display: grid;
  background-color: lightyellow !important;
  align-items: center;
  justify-items: center;
}
.dummy {
  border-style: hidden !important;
  background-color: white !important;

}
/* .clicked {
  background-color: lightskyblue ;
} */

.bomb {
  background-color: greenyellow;
}

.first-click {
  background-color: red;
}